/* body {
    background: url(../images/star-wars.png) no-repeat;
} */

.jumbotron {
    color: yellow;
    text-align: center;
    background: url(../images/space.jpg);
    font-family:'Permanent Marker', cursive;
}